html, * {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    background-color: #c8b7a6;
}
/*NAV*/
nav {
    height: 50px;
    background-color: #703f37;
}
nav li {
    float: left;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
li a, a:link {
    line-height: 45px;
    font-family: serif;
    color: #c29591;
    font-size: 20px;
    text-decoration: none;
}
li a:hover {
    color: #b6c199;
    font-size: 24px;
}
.nykyinensivu {
    background-color: #60362f;
    padding: 5px;
    border-radius: 3px;
}
nav ul {
    list-style-type: none;
    width: fit-content;
    height: 100%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}
/*Logo*/
#logo {
    width: 80px;
    height: 50px;
    margin-left: 10px;
    float: left;
}
/*Kontentti*/
section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
.tekstiosuusy {
    background-color: #7d94b5;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
}
.infoteksti {
    max-width: 600px;
}
.carousel-item img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 1000px;
}
#etusivukuva {
    width: 100%;
    border-radius: 15px;
}
p {
    font-family: Arial;
    color: black;
    font-size: 16px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#infoh1 {
    margin-top: 0px;
}
/*Alatunniste*/
footer {
    background-color: #703f37;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul, li {
    display: inline;
}
footer li {
    padding-left: 5px;
    padding-right: 5px;
}
/*Form*/
#valitse {
    margin: 0;
}
form {
    width: 70%;
    max-width: 700px;
    background-color: #7d94b5;
    color: black;
    margin: 60px auto;
    border-radius: 10px;
    padding: 20px;
}
/*Kuva karuselli*/
.carousel-inner img {
    width: 100%;
    height: 400px;
}
.painike {
    width: 50px;
    height: 50px;
}
.kuvaus {
    color: #ecccad;
    font-size: 20px;
}