html, * {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    background-color: #f7f7f7;
}
/*NAV*/
#iotechlogo {
    height: 20px;
    line-height: 1em;
}
.navbar {
    background-color: #03212B;
}
.navbar-brand {
    padding: 0 15px;
    height: 58px;
    line-height: 49px;
}
#share-buttons {
    height: 85px;
    width: 100%;
    margin-top: 25px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}
#share-buttons ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#share-buttons ul li {
    display: inline;
    padding: 5px;
}
/*Bootstrap*/
.navbar-dark .navbar-toggler{
  border: none;
}
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background-color: white;
}
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/*Bootstrap*/
/*Content*/
.headline {
    width: 100%;
    height: fit-content;
    padding: 30px;
    background-color: #0C1219;
    color: white;
}
.headinfo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.headinfo li {
    display: inline;
    padding-right: 12px;
}
.headinfo img {
    padding-right: 5px;
}
.allcontent {
    height: fit-content;
    width: 100%;
    padding: 25px;
}
p {
    margin: 0px;
    margin-top: 12px;
}
.textcontent {
    color: black;
    font-size: 16px;
}
.pagelink {
    color: black;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 #2AB255;
    border-bottom: 1px solid #2AB255;
}
.pagelink:hover {
    background-color: #2AB255;
    color: white;
}
#contentimages {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
#commercial {
    width: 100%;
}
.tag {
    display: inline-block;
    color: white;
    padding: 5px 8px;
    background-color: #EEE;
    margin-top: 12px;
    color: black;
}
#ingressi {
    font-size: 18px;
    font-weight: 500;
}